#LogLevel DEBUG
Host 34.192.10.2
    Hostname 34.192.10.2
    IdentityFile ~/.ssh/64dekey.pem
    ForwardAgent yes
    User ec2-user
    StrictHostKeyChecking no
    PasswordAuthentication no
Host *.internal
    User ec2-user
    IdentityFile ~/.ssh/64dekey.pem
    ProxyCommand ssh -F ./ssh.cfg ec2-user@34.192.10.2 -W %h:%p -v
    StrictHostKeyChecking no

# VAGRANT

Host 192.168.*.*
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Host *.example.com
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ControlPath ~/.ssh/controlmasters/%r@%h:%p
    ControlMaster auto

Host gitlab.com
    IdentityFile ~/.ssh/id_rsa_gitlab

Host *.redhat.com
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials no
  # https://mojo.redhat.com/docs/DOC-1069454 says never delegate credentials